@model IEnumerable<AICRDWEB.Models.Miembros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asociasion.LogoAsociacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iglesia.NombreIglesia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asociasion.LogoAsociacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iglesia.NombreIglesia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMiembro }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMiembro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMiembro })
        </td>
    </tr>
}

</table>
