@model AICRDWEB.Models.Circuitos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Circuitos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region.NombreRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.NombreRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCircuito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCircuito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCircuito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
