@model AICRDWEB.Models.Asociacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asociacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogoAsociacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoAsociacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAsociacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAsociacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LemaAsociacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LemaAsociacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAsociacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
